<h2 class="title">
  {{title()}}
</h2>

<div class="timeline">
  startFrom: {{period().startFrom}}
  endTo: {{period().endTo}}
</div>

<p class="description">
  {{period().description}}
</p>

<ul class="dz-list" aria-labelledby="social-title">
  @for (site of period().blockedSites; track site) {
      <li class="dz-list__item">
        <button
          class="dz-button dz-button--md dz-button--square shadow"
          [class.dz-button--error]="blockedUrls().includes(site.url)"
          [title]="site.name"
        >
          <svg class="dz-icon" aria-hidden="true" focusable="false">
            <use [attr.href]="site.iconUrl"></use>
          </svg>
        </button>
      </li>
  }
</ul>
