<ul class="dz-list dz-list--fit dz-list--horizontal shadow shadow--hoverless blurred">
  @for (entity of selection.entities(); track entity[selection.idKey()]) {
    <li class="dz-list__item" [class.dz-list__item--highlighted]="isHighlighted(entity)">
      <button
        class="dz-button dz-button--free dz-icon-box"
        [ngClass]="['font', 'font-' + size(), 'dz-icon-box--' + size()]"
        [disabled]="selection.isReadonly(entity) || !selection.isSelectable()"
        [class.strikethrough]="!selection.isSelected(entity)"
        (click)="selection.toggle(entity)"
      >
        {{ getLabel(entity) | titlecase }}
      </button>
    </li>
  }
</ul>
