:host {
  height: 100%;
  .block-behaviour {
    display: flex;
    justify-content: space-between;
    gap: var(--spacing);

    &__option {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: var(--spacing);
    }
  }
  .time {
    position: relative;
  }

  .time-group {
    display: flex;
    gap: calc(var(--spacing) * 3);
    align-items: center;
    justify-content: center;

    .dz-box {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .dz-form {
    &__hint-wrapper {
      display: flex;
      align-items: center;
    }
    &__actions {
      align-items: center;
      position: sticky;
      bottom: var(--spacing);
      margin-left: auto;

      z-index: 1;
      background-color: var(--color-bg);
    }
  }

  .widget-box {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    gap: var(--spacing);

    &__progress {
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      //width: 25%;
    }

    &__behaviours {
      display: flex;
      align-items: center;
      gap: var(--spacing);
    }

    &__group {
      display: flex;
      align-items: center;
      gap: var(--spacing);
      flex-direction: column;
      justify-content: center;
    }
  }
}
