<!-- Template fragment for icon -->
<ng-template #icon let-iconHref="href">
  <svg class="dz-icon" aria-hidden="true" focusable="false">
    <use [attr.href]="iconHref"></use>
  </svg>
</ng-template>

<!-- Banner templates -->
<ng-template #warnBanner let-message="message" let-href="href">
  <div class="dz-banner dz-banner--warn dz-banner--sm shadow shadow--hoverless">
    @if (href) {
      <div class="dz-banner__icon">
        <ng-container *ngTemplateOutlet="icon; context: { href }" />
      </div>
    }

    <div class="dz-banner__content">
      <div class="font-xs">{{ message }}</div>
    </div>
  </div>
</ng-template>

<form class="dz-form" [formGroup]="form">
  <!-- Status -->
  <div class="dz-form__field dz-box shadow shadow--hoverless">
    <div class="dz-form__hint-wrapper">
      @let activationHint =
        isCurrentPeriod()
          ? uiText.PERIOD.ACTIVATED
          : setAsCurrentPeriod()
            ? uiText.PERIOD_FORM.LABELS.ACTIVATE_ON_SAVE
            : uiText.PERIOD.DEACTIVATED;
      <span class="dz-form__hint">{{ activationHint }}</span>

      <dz-switch
        [title]="activationHint"
        [checked]="setAsCurrentPeriod()"
        [statusIcons]="{
          activated: icons.CHECK,
          unActivated: icons.POWER_SWITCHER,
        }"
        (checkedChange)="onSetAsCurrentPeriodChange($event)"
        size="lg"
      />
    </div>
  </div>

  <!-- Widgets-->
  <div class="dz-form__field widget-box">
    @let bgByStatus = './bg/' + form.controls.blockBehaviour.value + '.png';
    <div
      class="dz-box widget-box__progress round square"
      [style.--bg-url]="'url(' + bgByStatus + ')'"
      [class.light--accent]="isFocusActive()"
      [progress]="formProgress()"
      [progressConfig]="{
        thickness: 10,
        color: currentPeriod().isActive ? colors.ACCENT : colors.DEFAULT,
      }"
      dzProgressBorder
    >
      <div class="dz-box__bg dz-box__bg--transparrent breathe"></div>

      <div class="widget-box__group">
        <div class="widget-box__behaviours" #behaviourBlock>
          <button
            class="dz-button dz-button--free dz-button--ghost shadow shadow--hoverless"
            [class.dz-button--activated]="
              form.controls.blockBehaviour.value === blockBehaviours.BLOCK
            "
            (click)="setBlockBehaviour(blockBehaviours.BLOCK)"
          >
            <div class="dz-icon-box dz-icon-box--lg">
              <ng-container *ngTemplateOutlet="icon; context: { href: icons.BLOCK }" />
            </div>
          </button>

          <button
            class="dz-button dz-button--free dz-button--ghost shadow shadow--hoverless"
            [class.dz-button--activated]="
              form.controls.blockBehaviour.value === blockBehaviours.WARN
            "
            (click)="setBlockBehaviour(blockBehaviours.WARN)"
          >
            <div class="dz-icon-box dz-icon-box--lg">
              <ng-container *ngTemplateOutlet="icon; context: { href: icons.WARNING }" />
            </div>
          </button>

          <button
            class="dz-button dz-button--free dz-button--ghost shadow shadow--hoverless"
            [class.dz-button--activated]="
              form.controls.blockBehaviour.value === blockBehaviours.WHITELIST
            "
            (click)="setBlockBehaviour(blockBehaviours.WHITELIST)"
          >
            <div class="dz-icon-box dz-icon-box--lg">
              <ng-container *ngTemplateOutlet="icon; context: { href: icons.PERSON_ZEN }" />
            </div>
          </button>
        </div>
        <div class="dz-banner dz-banner--sm shadow shadow--hoverless blurred">
          <div class="dz-banner__content">
            @switch (form.controls.blockBehaviour.value) {
              @case (blockBehaviours.BLOCK) {
                <div class="font-xs text-center">
                  {{ uiText.PERIOD.BLOCK_BEHAVIOUR.BANNER_BLOCK }}
                </div>
              }
              @case (blockBehaviours.WHITELIST) {
                <div class="font-xs text-center">
                  {{ uiText.PERIOD.BLOCK_BEHAVIOUR.BANNER_WHITE_LIST }}
                </div>
              }
              @default {
                <div class="font-xs text-center">
                  {{ uiText.PERIOD.BLOCK_BEHAVIOUR.BANNER_WARN }}
                </div>
              }
            }
          </div>
        </div>

        <dz-weekdays-selector
          [(selectedEntities)]="selectedDays"
          [isSelectable]="true"
          [entities]="allDays"
          [idKey]="'day'"
          size="xs"
        />

        @if (form.controls.daysOfWeek.invalid) {
          <ng-container
            *ngTemplateOutlet="
              warnBanner;
              context: { href: icons.ERROR, message: uiText.PERIOD_FORM.ERRORS.CHOOSE_DAYS }
            "
          />
        }

        <dz-multi-selector
          [(selectedEntities)]="selectedTimeRanges"
          [isOnlySingleSelectable]="true"
          [entities]="timeRanges"
          [labelKey]="'name'"
          [idKey]="'id'"
          orientation="horizontal"
        >
          <ng-template #itemTemplate let-entity>
            <div class="font-xxl square">{{ entity.name }}</div>
          </ng-template>
        </dz-multi-selector>

        <div class="time-group fit">
          @let isManualTimeRange = selectedTimeRanges()[0]?.id === manualTimeRangeId;

          <div class="dz-box fit">
            <span class="hint">Start</span>

            <div class="time">
              {{ form.controls.startFrom.value ?? '00:00' }}

              <div class="dz-badge dz-badge--right">
                @if (isManualTimeRange) {
                  <button
                    class="dz-button dz-button--free dz-button--ghost shadow shadow--hoverless"
                    (click)="startFrom.showPicker()"
                  >
                    <div class="dz-icon-box dz-icon-box--xs">
                      <ng-container *ngTemplateOutlet="icon; context: { href: icons.TIME_RANGE }" />
                    </div>
                  </button>
                }
                <input
                  class="dz-input dz-input--hidden"
                  #startFrom
                  type="time"
                  formControlName="startFrom"
                />
              </div>
            </div>
          </div>

          <div class="dz-icon-box dz-icon-box--sm">
            <ng-container *ngTemplateOutlet="icon; context: { href: icons.LINE_END }" />
          </div>

          <div class="dz-box fit">
            <span class="hint">End</span>

            <div class="time fit">
              {{ form.controls.endTo.value ?? '00:00' }}
              <div class="dz-badge dz-badge--right">
                @if (isManualTimeRange) {
                  <button
                    class="dz-button dz-button--free dz-button--ghost shadow shadow--hoverless"
                    (click)="endTo.showPicker()"
                  >
                    <div class="dz-icon-box dz-icon-box--xs">
                      <ng-container *ngTemplateOutlet="icon; context: { href: icons.TIME_RANGE }" />
                    </div>
                  </button>
                }
                <input
                  class="dz-input dz-input--hidden"
                  #endTo
                  type="time"
                  formControlName="endTo"
                />
              </div>
            </div>
          </div>
        </div>

        <button
          class="dz-button dz-button--md dz-button--ghost shadow shadow--hoverless relative"
          [title]="uiText.COMMON.WEBSITE_LIBRARY"
          (click)="onOpenWebsitesList()"
        >
          <ng-container *ngTemplateOutlet="icon; context: { href: icons.GLOBE_BOOK }" />

          <div class="dz-badge" [title]="'Amount of active websites'">
            <span class="hint hint--activated shadow shadow--hoverless">{{
              activeWebsitesCount()
            }}</span>
          </div>
        </button>

        @if (form.errors?.['invalidTimeRange']) {
          <ng-container
            *ngTemplateOutlet="
              warnBanner;
              context: {
                href: icons.ERROR,
                message: uiText.PERIOD_FORM.ERRORS.INVALID_TIME_RANGE,
              }
            "
          />
        }

        <!-- Name Errors-->
        @if (form.controls.name.hasError('duplicatePeriodName') && form.controls.name.touched) {
          <ng-container
            *ngTemplateOutlet="
              warnBanner;
              context: { message: uiText.PERIOD_FORM.ERRORS.DUPLICATE_NAME, href: icons.ERROR }
            "
          />
        }
        @if (!form.controls.name.value) {
          <ng-container
            *ngTemplateOutlet="warnBanner; context: { message: 'Enter Name', href: icons.ERROR }"
          />
        }
        @if (form.controls.name.hasError('maxlength')) {
          <ng-container
            *ngTemplateOutlet="
              warnBanner;
              context: {
                message: 'Name is too long',
                href: icons.ERROR,
              }
            "
          />
        }
      </div>
    </div>
  </div>

  <!-- Actions-->
  <div class="dz-form__actions dz-box shadow shadow--hoverless">
    <!-- Name-->
    <input
      class="dz-input"
      [class.dz-input--error]="form.controls.name.invalid"
      placeholder="name... ✏️"
      formControlName="name"
    />

    <button
      class="dz-button dz-button--sm dz-button--ghost shadow"
      [title]="uiText.PERIOD_FORM.BUTTONS.CANCEL"
      (click)="cancelForm()"
      type="button"
    >
      <ng-container *ngTemplateOutlet="icon; context: { href: icons.CANCEL }"></ng-container>
    </button>

    <button
      class="dz-button dz-button--md dz-button--activated shadow"
      [title]="
        currentRoute() === views.EDIT_PERIOD
          ? uiText.PERIOD_FORM.BUTTONS.UPDATE
          : uiText.PERIOD_FORM.BUTTONS.CREATE
      "
      [disabled]="form.invalid"
      (click)="savePeriod()"
    >
      <ng-container *ngTemplateOutlet="icon; context: { href: icons.SAVE }"></ng-container>
    </button>
  </div>
</form>

<dz-websites-library-popup
  [(isWebsitesPopupShown)]="isWebsitesPopupShown"
  [(period)]="popupPeriodData"
/>
