<!-- Template fragment for icon -->
<ng-template #icon let-iconHref="href">
  <svg class="dz-icon" aria-hidden="true" focusable="false">
    <use [attr.href]="iconHref"></use>
  </svg>
</ng-template>

<!-- Error banner template -->
<ng-template #errorBanner let-message="message">
  <div class="dz-form__error">
    <div class="dz-banner dz-banner--error dz-banner--sm">
      <div class="dz-banner__icon">
        <ng-container *ngTemplateOutlet="icon; context: { href: icons.ERROR }"></ng-container>
      </div>
      <div class="dz-banner__content">
        <div class="dz-banner__message">{{ message }}</div>
      </div>
    </div>
  </div>
</ng-template>

<form [formGroup]="form" class="dz-form">
  <div class="dz-form__field shadow dz-box">
    <span class="dz-form__hint">
      <span class="dz-form__required">{{ uiText.COMMON.REQUIRED_MARKER }}</span>
      {{ uiText.PERIOD_FORM.LABELS.NAME }}
    </span>

    <input
      class="dz-input"
      [class.dz-input--invalid]="form.controls.name.invalid"
      formControlName="name"
      [placeholder]="uiText.PERIOD_FORM.PLACEHOLDERS.NAME"
    />

    @if (form.controls.name.hasError('duplicatePeriodName') && form.controls.name.touched) {
      <ng-container
        *ngTemplateOutlet="
          errorBanner;
          context: { message: uiText.PERIOD_FORM.ERRORS.DUPLICATE_NAME }
        "
      ></ng-container>
    }
  </div>

  <div class="dz-form__field dz-form__field shadow dz-box">
    <span class="dz-form__hint">
      <span class="dz-form__required">{{ uiText.COMMON.REQUIRED_MARKER }}</span>
      Block Behavior
    </span>

    <div class="dz-form__block-behaviour">
      <dz-step-bar
        [isShowSeparators]="false"
        [isDisabled]="false"
        [options]="blockBehaviourBarOptions"
        [(currentOption)]="currentBlockBehaviourBarOption"
      />

      <div
        class="dz-banner dz-banner--sm"
        [class.dz-banner--error]="form.controls.blockBehaviour.value === blockBehaviours.BLOCK"
        [class.dz-banner--info]="form.controls.blockBehaviour.value === blockBehaviours.WHITELIST"
        [class.dz-banner--warn]="form.controls.blockBehaviour.value === blockBehaviours.WARN"
      >
        <div class="dz-banner__content">
          <div class="dz-banner__message">
            @switch (form.controls.blockBehaviour.value) {
              @case (blockBehaviours.WARN) {
                {{ uiText.PERIOD.BLOCK_BEHAVIOUR.BANNER_WARN }}
              }
              @case (blockBehaviours.WHITELIST) {
                {{ uiText.PERIOD.BLOCK_BEHAVIOUR.BANNER_WHITE_LIST }}
              }
              @default {
                {{ uiText.PERIOD.BLOCK_BEHAVIOUR.BANNER_BLOCK }}
              }
            }
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="dz-form__field shadow dz-box">
    <span class="dz-form__hint">
      <span class="dz-form__required">{{ uiText.COMMON.REQUIRED_MARKER }}</span>
      {{ uiText.PERIOD_FORM.LABELS.WEBSITES_URLS }}
    </span>

    <ng-template #websiteIconTemplate let-site>
      @let statusRes = siteStatuses()[site.url];
      @let isOnline = statusRes?.value();

      <div
        [title]="isOnline ? 'Online' : 'Offline'"
        class="dz-icon-box dz-icon-box--sm dz-icon-box--error"
        [class.dz-icon-box--success]="isOnline"
      >
        @if (isOnline === undefined) {
          <ng-container *ngTemplateOutlet="icon; context: { href: icons.WIFI_FIND }"></ng-container>
        } @else if (isOnline) {
          <ng-container *ngTemplateOutlet="icon; context: { href: icons.WIFI }"></ng-container>
        } @else {
          <ng-container *ngTemplateOutlet="icon; context: { href: icons.WIFI_OFF }"></ng-container>
        }
      </div>

      <div [title]="site.url" class="dz-icon-box dz-icon-box--sm">
        <img
          #imgRef
          class="dz-icon"
          [class.hidden]="imgRef.hidden"
          [src]="site.imageUrl || getFavicon(site.url)"
          [alt]="site.url"
          (error)="imgRef.hidden = true"
        />
        @if (imgRef.hidden) {
          <ng-container *ngTemplateOutlet="icon; context: { href: icons.ERROR }"></ng-container>
        }
      </div>
    </ng-template>

    <dz-dynamic-input
      [(entities)]="selectedWebSites"
      [excludeKeys]="excludedSiteKeysArray"
      idKey="id"
      labelKey="url"
      [iconTemplate]="websiteIconTemplate"
    />

    @if (form.controls.webSites.hasError(validationErrorKeys.UNACTIVATABLE_NOT_ALLOWED)) {
      <ng-container
        *ngTemplateOutlet="
          errorBanner;
          context: {
            message:
              uiText.PERIOD_FORM.ERRORS.UNBLOCKABLE_WEBSITE +
              ': ' +
              (form.controls.webSites.errors?.['invalidUrls']?.join(', ') || ''),
          }
        "
      ></ng-container>
    } @else if (form.controls.webSites.invalid) {
      <ng-container
        *ngTemplateOutlet="
          errorBanner;
          context: { message: uiText.PERIOD_FORM.ERRORS.CHOOSE_WEBSITES }
        "
      ></ng-container>
    }
  </div>

  <div class="dz-form__field shadow dz-box">
    <span class="dz-form__hint">
      <span class="dz-form__required">{{ uiText.COMMON.REQUIRED_MARKER }}</span>
      {{ uiText.PERIOD_FORM.LABELS.DAYS_OF_WEEK }}
    </span>

    <dz-weekdays-selector [(selectedDays)]="selectedDays" [isTodayShow]="false" />

    @if (form.controls.daysOfWeek.invalid) {
      <ng-container
        *ngTemplateOutlet="errorBanner; context: { message: uiText.PERIOD_FORM.ERRORS.CHOOSE_DAYS }"
      ></ng-container>
    }
  </div>

  <div class="dz-form__field--fit shadow dz-box">
    <span class="dz-form__hint">
      {{ uiText.PERIOD_FORM.LABELS.TIME_RANGE }}
    </span>

    <dz-multi-selector
      [(selectedEntities)]="selectedTimeRanges"
      [isOnlySingleSelectable]="true"
      [entities]="timeRanges"
      [labelKey]="'name'"
      [idKey]="'id'"
      orientation="horizontal"
    />
  </div>

  <div class="dz-form__field shadow dz-box">
    <ul class="dz-list dz-list--horizontal dz-list--full">
      <li class="dz-form__field--fit">
        <span class="dz-form__hint">
          <span class="dz-form__required">{{ uiText.COMMON.REQUIRED_MARKER }}</span>
          {{ uiText.PERIOD_FORM.LABELS.START_FROM }}
        </span>

        <input
          type="time"
          class="dz-input dz-input--fit"
          [class.dz-input--invalid]="form.errors?.['invalidTimeRange']"
          formControlName="startFrom"
          [placeholder]="uiText.PERIOD_FORM.PLACEHOLDERS.START_FROM"
        />
      </li>

      <li class="dz-form__field--fit">
        <span class="dz-form__hint">
          <span class="dz-form__required">{{ uiText.COMMON.REQUIRED_MARKER }}</span>
          {{ uiText.PERIOD_FORM.LABELS.END_TO }}
        </span>

        <input
          type="time"
          class="dz-input dz-input--fit"
          [class.dz-input--invalid]="form.errors?.['invalidTimeRange']"
          formControlName="endTo"
          [placeholder]="uiText.PERIOD_FORM.PLACEHOLDERS.END_TO"
        />
      </li>
    </ul>

    @if (form.errors?.['invalidTimeRange']) {
      <ng-container
        *ngTemplateOutlet="
          errorBanner;
          context: { message: uiText.PERIOD_FORM.ERRORS.INVALID_TIME_RANGE }
        "
      ></ng-container>
    }
  </div>

  <div class="dz-form__actions">
    <button
      [disabled]="form.invalid"
      class="dz-button dz-button--activated shadow"
      [class.dz-button--error]="form.invalid"
      (click)="savePeriod()"
    >
      {{
        currentRoute() === views.EDIT_PERIOD
          ? uiText.PERIOD_FORM.BUTTONS.UPDATE
          : uiText.PERIOD_FORM.BUTTONS.CREATE
      }}
    </button>

    <button type="button" class="dz-button dz-button--md shadow" (click)="cancelForm()">
      {{ uiText.PERIOD_FORM.BUTTONS.CANCEL }}
    </button>
  </div>
</form>
