:host {
  .dz-list {
    margin-bottom: var(--list-gap);

    .item {
      width: 100%;
      display: flex;
      align-items: center;
      gap: var(--list-gap);
    }
  }

  .actions {
    display: flex;
    align-items: center;
    gap: var(--list-gap);
    justify-content: flex-end;
  }

  .placeholder {
    display: flex;
    height: var(--placeholder-height);
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}
