<!-- Template fragment for icon -->
<ng-template #icon let-iconHref="href">
  <svg class="dz-icon" aria-hidden="true" focusable="false">
    <use [attr.href]="iconHref"></use>
  </svg>
</ng-template>

<!-- Error banner template -->
<ng-template #errorBanner let-message="message">
  <div class="dz-form__error">
    <div class="dz-banner dz-banner--error dz-banner--sm">
      <div class="dz-banner__icon">
        <ng-container *ngTemplateOutlet="icon; context: { href: icons.ERROR }"></ng-container>
      </div>
      <div class="dz-banner__content">
        <div class="dz-banner__message">{{ message }}</div>
      </div>
    </div>
  </div>
</ng-template>

<ul class="dz-list dz-list--full">
  @for (entity of entities(); track entity[idKey()]) {
    <li class="item">
      @if (iconTemplate()) {
        <ng-container *ngTemplateOutlet="iconTemplate(); context: { $implicit: entity }">
        </ng-container>
      }

      <input
        disabled
        [id]="entity[idKey()]"
        type="text"
        class="dz-input dz-input--borderless"
        [readonly]="isReadonly(entity)"
        [value]="getLabel(entity)"
        [title]="getLabel(entity)"
      />

      <button
        [title]="uiText.DYNAMIC_INPUT.TITLES.REMOVE"
        type="button"
        class="dz-button dz-button--xs dz-button--ghost dz-button--error"
        (click)="removeEntity(entity)"
        [disabled]="isReadonly(entity)"
      >
        <ng-container *ngTemplateOutlet="icon; context: { href: icons.DELETE }"></ng-container>
      </button>
    </li>
  }

  @if (isAdding()) {
    <li class="item dz-box shadow">
      <ul class="dz-list dz-list--full">
        <span class="dz-form__hint"> {{ uiText.DYNAMIC_INPUT.HINTS.FILL_TO_ADD }} </span>

        @for (key of entityKeys(); track key) {
          @if (key !== idKey()) {
            <li>
              <input
                [class.dz-input--invalid]="key === labelKey() && duplicateValue()"
                class="dz-input dz-input--borderless"
                [placeholder]="key"
                (input)="updateField(key, $any($event.target).value)"
              />
            </li>
          }
        }

        @if (duplicateValue()) {
          <ng-container
            *ngTemplateOutlet="
              errorBanner;
              context: { message: uiText.DYNAMIC_INPUT.ERRORS.DUPLICATE_FIELD }
            "
          ></ng-container>
        }

        <div class="actions">
          <button
            [disabled]="!isNewEntityValid()"
            type="button"
            [title]="uiText.DYNAMIC_INPUT.TITLES.SAVE"
            class="dz-button dz-button--xs dz-button--icon dz-button--activated dz-button--ghost shadow"
            [class.dz-button--error]="!isNewEntityValid()"
            (click)="addEntity()"
          >
            <ng-container *ngTemplateOutlet="icon; context: { href: icons.SAVE }"></ng-container>
          </button>

          <button
            type="button"
            [title]="uiText.DYNAMIC_INPUT.TITLES.CANCEL"
            class="dz-button dz-button--xs dz-button--icon dz-button--error dz-button--ghost shadow"
            (click)="cancelAdding()"
          >
            <ng-container *ngTemplateOutlet="icon; context: { href: icons.CLOSE }"></ng-container>
          </button>
        </div>
      </ul>
    </li>
  }

  @if (isPlaceholderShown()) {
    <li class="dz-placeholder">
      <div class="dz-placeholder__icon">
        <ng-container *ngTemplateOutlet="icon; context: { href: icons.FOLDER_OFF }"></ng-container>
      </div>

      <div class="dz-placeholder__text">{{ uiText.DYNAMIC_INPUT.EMPTY_PLACEHOLDER }}</div>

      <button
        type="button"
        [title]="uiText.DYNAMIC_INPUT.TITLES.ADD"
        class="dz-button dz-button--md dz-button--icon dz-button--ghost shadow"
        (click)="toggleIsAdding()"
      >
        {{ uiText.DYNAMIC_INPUT.ADD_BUTTON }}
        <ng-container *ngTemplateOutlet="icon; context: { href: icons.PLUS }"></ng-container>
      </button>
    </li>
  }
</ul>

@if (!isAdding()) {
  <div class="actions">
    @if (entities()?.length) {
      <button
        type="button"
        [title]="uiText.DYNAMIC_INPUT.TITLES.ADD"
        class="dz-button dz-button--xs dz-button--icon dz-button--ghost shadow"
        (click)="toggleIsAdding()"
      >
        <ng-container *ngTemplateOutlet="icon; context: { href: icons.PLUS }"></ng-container>
      </button>
    }

    <button
      type="button"
      [title]="uiText.DYNAMIC_INPUT.TITLES.RESET"
      class="dz-button dz-button--xs dz-button--icon dz-button--ghost shadow"
      (click)="resetEntities()"
    >
      <ng-container *ngTemplateOutlet="icon; context: { href: icons.RESET }"></ng-container>
    </button>

    @if (entities()?.length) {
      <button
        type="button"
        [title]="uiText.DYNAMIC_INPUT.TITLES.DELETE_ALL"
        class="dz-button dz-button--xs dz-button--icon dz-button--ghost shadow"
        (click)="clearEntities()"
      >
        <ng-container *ngTemplateOutlet="icon; context: { href: icons.DELETE }"></ng-container>
      </button>
    }
  </div>
}
