<ul
  class="dz-list dz-list--full"
  [class.dz-list--horizontal]="orientation() === 'horizontal'"
  [class.dz-list--vertical]="orientation() === 'vertical'"
>
  @for (entity of selection.entities(); track entity[selection.idKey()]) {
    <li class="dz-list__item" [class.dz-list__item--highlighted]="isHighlighted(entity)">
      <button
        class="dz-button"
        [disabled]="selection.isReadonly(entity) || !selection.isSelectable()"
        [class.dz-button--activated]="selection.isSelected(entity)"
        [class]="'dz-button--' + size()"
        [class.dz-button--ghost]="itemTemplate()"
        [class.dz-button--free]="itemTemplate()"
        [class.shadow]="itemTemplate()"
        [class.shadow--hoverless]="itemTemplate()"
        (click)="selection.toggle(entity)"
      >
        @if (itemTemplate()) {
          <ng-container
            [ngTemplateOutlet]="itemTemplate()!"
            [ngTemplateOutletContext]="{ $implicit: entity }"
          >
          </ng-container>
        } @else {
          {{ getLabel(entity) | titlecase }}
        }
      </button>
    </li>
  }
</ul>
