:host {
  .dz-list {
    &--horizontal {
      align-items: center;
    }

    &__item {
      &--highlighted {
        border: 2px solid var(--color-zen-error);
        border-radius: var(--radius);
      }
    }
  }
}
