:host {
  .dz-list {
    &--horizontal {
      align-items: center;
    }

    &__item {
      &--highlighted {
        padding: var(--spacing-xs);
        border: 2px solid var(--color-zen-error);
      }
    }
  }
}
