<ul
  class="dz-list dz-list--full"
  [class.dz-list--horizontal]="orientation() === 'horizontal'"
  [class.dz-list--vertical]="orientation() === 'vertical'"
>
  @for (entity of entities(); track entity[this.idKey()]) {
    <li>
      <button
        [disabled]="isReadonly(entity)"
        class="dz-button dz-button--sm"
        [class.dz-button--activated]="isSelected(entity)"
        (click)="toggle(entity)"
      >
        {{ getLabel(entity) | titlecase }}
      </button>
    </li>
  }
</ul>
