<form [formGroup]="form" class="dz-form">
  <div class="dz-form__field">
    <span class="dz-form__hint">
      <span class="dz-form__required">{{ uiText.COMMON.REQUIRED_MARKER }}</span>
      {{ uiText.PERIOD_FORM.LABELS.NAME }}
    </span>

    <input
      class="dz-input"
      [class.dz-input--invalid]="form.controls.name.invalid"
      formControlName="name"
      [placeholder]="uiText.PERIOD_FORM.PLACEHOLDERS.NAME"
    />

    @if (form.controls.name.hasError('duplicatePeriodName') && form.controls.name.touched) {
      <span class="dz-form__hint">
        <span class="dz-form__required">{{ uiText.PERIOD_FORM.ERRORS.DUPLICATE_NAME }}</span>
      </span>
    }
  </div>

  <div class="dz-form__field">
    <span class="dz-form__hint">
      <span class="dz-form__required">{{ uiText.COMMON.REQUIRED_MARKER }}</span>
      {{ uiText.PERIOD_FORM.LABELS.DESCRIPTION }}
    </span>

    <textarea
      class="dz-input dz-input--textarea"
      [class.dz-input--invalid]="form.controls.description.invalid"
      formControlName="description"
      [placeholder]="uiText.PERIOD_FORM.PLACEHOLDERS.DESCRIPTION"
    ></textarea>
  </div>

  <div class="dz-form__field">
    <span class="dz-form__hint">
      <span class="dz-form__required">{{ uiText.COMMON.REQUIRED_MARKER }}</span>
      {{ uiText.PERIOD_FORM.LABELS.DAYS_OF_WEEK }}
    </span>

    <dz-weekdays-selector [(selectedDays)]="selectedDays" [isTodayShow]="false" />

    @if (form.controls.daysOfWeek.invalid) {
      <span class="dz-form__hint">
        <span class="dz-form__required">{{ uiText.PERIOD_FORM.ERRORS.CHOOSE_DAYS }}</span>
      </span>
    }
  </div>

  <div class="dz-form__field--fit">
    <span class="dz-form__hint">
      {{ uiText.PERIOD_FORM.LABELS.TIME_RANGE }}
    </span>

    <dz-multi-selector
      [(selectedEntities)]="selectedTimeRanges"
      [isOnlySingleSelectable]="true"
      [entities]="timeRanges"
      [labelKey]="'name'"
      [idKey]="'id'"
      orientation="horizontal"
    />
  </div>

  <ul class="dz-list dz-list--horizontal dz-list--full">
    <li class="dz-form__field--fit">
      <span class="dz-form__hint">
        <span class="dz-form__required">{{ uiText.COMMON.REQUIRED_MARKER }}</span>
        {{ uiText.PERIOD_FORM.LABELS.START_FROM }}
      </span>

      <input
        type="time"
        class="dz-input dz-input--fit"
        [class.dz-input--invalid]="form.errors?.['invalidTimeRange']"
        formControlName="startFrom"
        [placeholder]="uiText.PERIOD_FORM.PLACEHOLDERS.START_FROM"
      />
    </li>

    <li class="dz-form__field--fit">
      <span class="dz-form__hint">
        <span class="dz-form__required">{{ uiText.COMMON.REQUIRED_MARKER }}</span>
        {{ uiText.PERIOD_FORM.LABELS.END_TO }}
      </span>

      <input
        type="time"
        class="dz-input dz-input--fit"
        [class.dz-input--invalid]="form.errors?.['invalidTimeRange']"
        formControlName="endTo"
        [placeholder]="uiText.PERIOD_FORM.PLACEHOLDERS.END_TO"
      />
    </li>
  </ul>

  @if (form.errors?.['invalidTimeRange']) {
    <span class="dz-form__hint">
      <span class="dz-form__required">{{ uiText.PERIOD_FORM.ERRORS.INVALID_TIME_RANGE }}</span>
    </span>
  }

  <div class="dz-form__field">
    <span class="dz-form__hint">
      <span class="dz-form__required">{{ uiText.COMMON.REQUIRED_MARKER }}</span>
      {{ uiText.PERIOD_FORM.LABELS.BLOCKED_URLS }}
    </span>

    <dz-dynamic-input
      [(entities)]="selectedWebSites"
      [excludeKeys]="excludedSiteKeysArray"
      idKey="id"
      labelKey="name"
    />

    @if (form.controls.webSites.hasError(validationErrorKeys.UNBLOCKABLE_NOT_ALLOWED)) {
      <span class="dz-form__hint">
        <span class="dz-form__required">{{ uiText.PERIOD_FORM.ERRORS.UNBLOCKABLE_WEBSITE }}</span>
      </span>
    } @else if (form.controls.webSites.invalid) {
      <span class="dz-form__hint">
        <span class="dz-form__required">{{ uiText.PERIOD_FORM.ERRORS.CHOOSE_WEBSITES }}</span>
      </span>
    }
  </div>

  <div class="dz-form__actions">
    <button
      [disabled]="form.invalid"
      class="dz-button dz-button--activated shadow"
      [class.dz-button--error]="form.invalid"
      (click)="savePeriod()"
    >
      {{
        mode() === 'edit' ? uiText.PERIOD_FORM.BUTTONS.UPDATE : uiText.PERIOD_FORM.BUTTONS.CREATE
      }}
    </button>

    <button type="button" class="dz-button dz-button--md shadow" (click)="cancelForm()">
      {{ uiText.PERIOD_FORM.BUTTONS.CANCEL }}
    </button>
  </div>
</form>
