.dz-button {
  display: flex;
  align-items: center;
  border-radius: var(--radius-default);
  padding: var(--padding-default);
  font-size: var(--font-size-md);
  cursor: pointer;
  background-color: var(--color-component-bg-dark);
  color: var(--color-component-text-dark);

  &--xs  {
    height: var(--btn-size-xs);
    padding: var(--padding-xs);
  }
  &--sm  {
    height: var(--btn-size-sm);
    padding: var(--padding-sm);
  }
  &--md  {
    height: var(--btn-size-md);
    padding: var(--padding-md);
  }
  &--lg  {
    height: var(--btn-size-lg);
    padding: var(--padding-lg);
  }
  &--xl  {
    height: var(--btn-size-xl);
    padding: var(--padding-xl);
  }
  &--xxl {
    height: var(--btn-size-xxl);
    padding: var(--padding-xxl);
  }

  &--round,
  &--square {
    aspect-ratio: 1 / 1;
  }

  &--round {
    border-radius: 99999px;
  }

  &--activated {
    background-color: var(--color-zen-accent);
    color: var(--color-on-accent);
  }

  &--error {
    background-color: var(--color-zen-error);
    color: var(--color-on-accent);
  }
}

.dz-icon {
  width: var(--icon-width);
  height: var(--icon-height);
}

.dz-input {
  display: block;
  width: 100%;
  height: var(--btn-size-md);
  padding: 0 var(--padding-default);
  border-radius: 9999px;
  border: none;
  outline: none;
  background-color: var(--color-component-bg-dark);
  color: var(--color-component-text-dark);
  box-shadow: 0 0 var(--shadow-blur) var(--shadow-color);
  transition: background-color .2s ease, color .2s ease, box-shadow .2s ease;
  font-size: var(--font-size-sm);

  &::placeholder {
    color: var(--color-component-text-dark);
    opacity: .6;
  }

  &:focus {
    box-shadow: 0 0 0 2px var(--color-zen-accent);
  }
}

.dz-list {
  display: flex;
  gap: var(--list-gap);
  flex-wrap: wrap;
}

