.rounded-button {
  display: flex;
  align-items: center;
  width: 48px;
  height: 48px;

  padding: var(--padding-default);
  border-radius: 9999px;
  cursor: pointer;

  background-color: var(--color-button-bg-dark);
  color: var(--color-button-text-dark);

  .dark-theme {
    background-color: var(--color-button-bg-light);
    color: var(--color-button-text-light);
  }
}

.icon {
  width: var(--icon-width);
  height: var(--icon-height);
}
