.dz-popup-content {
  interpolate-size: allow-keywords;
  background: color-mix(in srgb, var(--color-background), transparent 21%);
  backdrop-filter: blur(5px);
  color: var(--color-component-text-light);
  position: relative;

  max-width: calc(100vw - (var(--spacing) * 2));
  max-height: calc(100vh - (var(--spacing) * 2));
  height: 100%;

  display: flex;
  flex-direction: column;
  padding: 0;

  animation: dz-popup-in 0.3s ease-out forwards;

  &--full-h {
    height: calc(100vh - (var(--spacing) * 2));
  }

  &--full-w {
    width: calc(100vw - (var(--spacing) * 2));
  }

  &::-webkit-scrollbar {
    display: none;
  }

  &__header {
    flex: 0 0 var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 0 var(--spacing);
  }

  &__main {
    padding: 0 var(--spacing) var(--spacing) var(--spacing);
    flex: 1;
    overflow-y: auto;
  }
}

.dz-popup-fade-in {
  animation: dz-fade-in 0.2s ease-out forwards;
}

@keyframes dz-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes dz-popup-in {
  from {
    opacity: 0;
    transform: scale(0.9) translateY(20px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}
