:root {
  --app-width: 400px;
  --app-height: 584px;
  --header-height: 60px;

  /* Цветовые токены */
  --color-background: #f9fafc;
  --color-text: #334155;
  --color-zen-accent: #34d399;
  --color-zen-error: #d33434;
  --color-on-accent: #f1f5f9;
  --color-component-bg-light: #f1f5f9;
  --color-component-text-light: #475569;
  --color-component-bg-dark: #334155;
  --color-component-text-dark: #f1f5f9;
  --color-glass-text: rgba(71, 85, 105, 0.5);

  /* Размеры кнопок */
  --btn-size-xs: 24px;
  --btn-size-sm: 32px;
  --btn-size-md: 48px;
  --btn-size-lg: 64px;
  --btn-size-xl: 96px;
  --btn-size-xxl: 130px;

  /* Размеры текста */
  --font-size-xxs: 10px;
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-md: 16px;
  --font-size-lg: 18px;
  --font-size-xl: 20px;
  --font-size-xxl: 24px;

  /* Общие переменные */
  --spacing: 8px;
  --radius: 12px;
  --radius-xs: 8px;
  --spacing-xs: 4px;
  --spacing-sm: 6px;
  --spacing-md: 12px;
  --spacing-lg: 16px;
  --spacing-xl: 24px;
  --spacing-xxl: 32px;
  --icon-height: 100%;
  --shadow-color: rgba(0, 0, 0, 0.25);
  --shadow-blur: 12px;
  --shadow-translate-width: 2px;
  --list-gap: 0.5rem;
  --loader-size: 24px;
  --button-text-icon-gap: 0.5rem;
  --placeholder-height: 5rem;
}

/* Для тёмной темы переопределяем только цвета */
.dark-theme {
  --color-background: #1e293b;
  --color-text: #e2e8f0;
  --color-component-bg-light: #475569;
  --color-component-text-light: #f1f5f9;
  --color-component-bg-dark: #f1f5f9;
  --color-component-text-dark: #475569;
  --color-glass-text: rgba(241, 245, 249, 0.5);
  --shadow-color: rgba(0, 0, 0, 0.8);
}
