:root {
  --app-width: 400px;
  --app-height: 584px;
  --header-height: 60px;

  /* Цветовые токены */
  --color-background: #F9FAFC;
  --color-text: #334155;
  --color-zen-accent: #34D399;
  --color-zen-error: #d33434;
  --color-on-accent: #F1F5F9;
  --color-component-bg-light: #F1F5F9;
  --color-component-text-light: #475569;
  --color-component-bg-dark: #334155;
  --color-component-text-dark: #F1F5F9;
  --color-glass-component-text-dark: #475569;

  /* Размеры кнопок */
  --btn-size-xs: 24px;
  --btn-size-sm: 32px;
  --btn-size-md: 48px;
  --btn-size-lg: 64px;
  --btn-size-xl: 96px;
  --btn-size-xxl: 130px;

  /* Размеры текста */
  --font-size-xxs: 10px;
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-md: 16px;
  --font-size-lg: 18px;
  --font-size-xl: 20px;
  --font-size-xxl: 24px;

  /* Общие переменные */
  --padding: 12px;
  --radius: 12px;
  --padding-xs: 4px;
  --padding-sm: 6px;
  --padding-md: 12px;
  --padding-lg: 16px;
  --padding-xl: 24px;
  --padding-xxl: 32px;
  --icon-width: 100%;
  --icon-height: 100%;
  --shadow-color: rgba(0, 0, 0, 0.25);
  --shadow-blur: 12px;
  --shadow-translate-width: 2px;
  --list-gap: 0.5rem;
  --loader-size: 24px;
}

/* Для тёмной темы переопределяем только цвета */
.dark-theme {
  --color-background: #1E293B;
  --color-text: #E2E8F0;
  --color-zen-accent: #10B981;
  --color-component-bg-light: #475569;
  --color-component-text-light: #F1F5F9;
  --color-component-bg-dark: #F1F5F9;
  --color-component-text-dark: #475569;
  --color-glass-component-text-dark: #F1F5F9;
  --shadow-color: rgba(0, 0, 0, 0.8);
}
