:host {
  width: 100%;

  .dz-step-bar {
    &__list {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;
      gap: var(--spacing);
      align-items: center;

      &--horizontal {
        width: 100%;
      }

      &--vertical {
        flex-direction: column;
        height: 100%;

        .dz-step-bar__separator {
          width: 1px;
          height: 100%;
          min-height: 20px;
        }
      }
    }

    &__container {
      display: flex;
      align-items: center;
      flex: 1;

      &:last-child {
        flex: 0 auto;
      }
    }

    &__separator {
      flex: 1;
      min-width: var(--spacing);
      height: 1px;
      background-color: var(--color-text);
      margin: 0 0 0 var(--spacing);
    }
  }
}
