<ng-template #icon let-iconHref="href">
  <svg class="dz-icon" aria-hidden="true" focusable="false">
    <use [attr.href]="iconHref"></use>
  </svg>
</ng-template>

<ul class="dz-step-bar__list" [class]="'dz-step-bar__list--' + orientation()">
  @for (option of options(); track option.value; let last = $last) {
    <li
      class="dz-step-bar__container"
      [class]="'dz-step-bar__container--' + orientation()"
      [title]="option.label"
    >
      @if (isDisabled()) {
        <div
          class="dz-icon-box dz-icon-box--sm"
          [class.dz-icon-box--activated]="currentOption()?.value === option.value"
        >
          <ng-container *ngTemplateOutlet="icon; context: { href: option.icon }" />
        </div>
      } @else {
        <button
          class="dz-button dz-button--sm"
          [class.dz-button--activated]="currentOption()?.value === option.value"
          (click)="setCurrentOption(option)"
        >
          <ng-container *ngTemplateOutlet="icon; context: { href: option.icon }" />
        </button>
      }
      @if (!last && isShowSeparators()) {
        <span class="dz-step-bar__separator"></span>
      }
    </li>
  }
</ul>
