:host {
  width: 100%;

  .dz-step-bar {
    &__list {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;
      gap: var(--spacing-xs);
      align-items: center;

      &--horizontal {
        width: 100%;

        .dz-step-bar__separator {
          width: 100%;
          height: 1px;
          flex: 1;
          margin: 0 0 0 var(--spacing-xs);
        }
      }

      &--vertical {
        flex-direction: column;
        height: 100%;
        align-items: center;

        .dz-step-bar__separator {
          width: 1px;
          height: 100%;
          flex: 1;
          margin: var(--spacing-xs) 0 0 0;
        }
      }
    }

    &__container {
      display: flex;
      align-items: center;
      flex: 1;

      &--vertical {
        flex-direction: column;
      }

      &:last-child {
        flex: 0 auto;
      }
    }

    &__separator {
      background-color: var(--color-text);
    }
  }
}
