<!-- Template fragment for icon -->
<ng-template #icon let-iconHref="href" let-iconClass="class" let-width="width" let-height="height">
  <svg
    [class]="iconClass || 'dz-icon'"
    [attr.width]="width"
    [attr.height]="height"
    aria-hidden="true"
    focusable="false"
  >
    <use [attr.href]="iconHref" [attr.width]="width" [attr.height]="height" />
  </svg>
</ng-template>

<ng-template [dzPopup]="isWebsitesPopupShown()" (closed)="onCloseWebsitesList()">
  <div
    class="dz-box shadow shadow--hoverless dz-popup-content dz-popup-content--full-h dz-popup-content--full-w dz-popup-websites"
  >
    <dz-toast-container />
    <header class="dz-popup-content__header">
      <h1 class="hint hint--xl">Websites</h1>

      <button class="dz-button round dz-button--sm" (click)="onCloseWebsitesList()">
        <ng-container *ngTemplateOutlet="icon; context: { href: icons.CLOSE }"></ng-container>
      </button>
    </header>

    <main class="dz-popup-content__main">
      <ul class="dz-tree dz-tree--root dz-list">
        @for (type of websiteTypes; track type) {
          @let sites = websitesPopupData()[type] || [];

          <li class="dz-box shadow shadow--hoverless">
            <div class="dz-popup-content__folder-actions">
              <button
                class="dz-button dz-button--ghost dz-button--md"
                [disabled]="!sites.length"
                [class.shadow]="!isFolderOpen(type)"
                (click)="toggleFolder(type)"
              >
                @let folderIcon = isFolderOpen(type) ? icons.FOLDER_OPEN : icons.FOLDER;
                <ng-container *ngTemplateOutlet="icon; context: { href: folderIcon }" />

                <span class="ellipsis">{{ type }}</span>
              </button>

              <dz-switch
                [class.hidden]="!(sites.length > 1)"
                [statusIcons]="{
                  activated: icons.RADIO_CHECKED,
                  unActivated: isFolderPartiallyActivated(type)
                    ? icons.RADIO_PARTIAL
                    : icons.RADIO_UNCHECKED,
                }"
                [checked]="isFolderFullyActivated(type)"
                (checkedChange)="onToggleFolderOfWebsites(type)"
                size="md"
              />

              <small class="hint hint--xs hint--activated round"
                >({{ categoryActiveCounts()[type] }})</small
              >
              <small class="hint hint--xs">/ ({{ sites.length }})</small>
            </div>

            <ul class="dz-tree" [class.dz-tree--open]="isFolderOpen(type)">
              @for (site of sites; track site.url) {
                <li class="dz-tree__item fit">
                  <input
                    class="dz-input dz-input--checkbox"
                    [checked]="site.isActivated"
                    (change)="onToggleBlockedWebsite(site)"
                    type="checkbox"
                  />
                  <img
                    [alt]="site.url"
                    [src]="site.imageUrl || getFavicon(site.url)"
                    style="width: 16px; height: 16px; border-radius: 4px"
                  />
                  <span class="ellipsis copy" [dzCopy]="site.url" [title]="site.url">
                    {{ cleanProtocolHelper(site.url) }}
                  </span>
                </li>
              }
            </ul>
          </li>
        }
      </ul>
    </main>
  </div>
</ng-template>
