<!-- Template fragment for icon -->
<ng-template #icon let-iconHref="href" let-iconClass="class" let-width="width" let-height="height">
  <svg
    [class]="iconClass || 'dz-icon'"
    [attr.width]="width"
    [attr.height]="height"
    aria-hidden="true"
    focusable="false"
  >
    <use [attr.href]="iconHref" [attr.width]="width" [attr.height]="height" />
  </svg>
</ng-template>

<!--Library Popup-->
<ng-template [dzPopup]="isWebsitesPopupShown()" (closed)="onCloseWebsitesList()">
  <div
    class="dz-box shadow shadow--hoverless dz-popup-content dz-popup-content--full-h dz-popup-content--full-w dz-popup-websites"
  >
    <dz-toast-container />
    <header class="dz-popup-content__header">
      <h1 class="hint hint--xl dz-popup-content__title">{{ uiText.WEBSITE_LIBRARY.TITLE }}</h1>

      <div class="dz-popup-content__header-actions">
        <button class="dz-button round dz-button--sm" (click)="onOpenCreateNewFolderPopup()">
          <ng-container
            *ngTemplateOutlet="icon; context: { href: icons.CREATE_NEW_FOLDER }"
          ></ng-container>
        </button>

        <button class="dz-button round dz-button--sm" (click)="onCloseWebsitesList()">
          <ng-container *ngTemplateOutlet="icon; context: { href: icons.CLOSE }"></ng-container>
        </button>
      </div>
    </header>

    <main class="dz-popup-content__main">
      <ul class="dz-tree dz-tree--root dz-list">
        @for (folder of folders(); track folder) {
          @let sites = websitesPopupData()[folder] || [];

          <li class="dz-box shadow shadow--hoverless" #folder [attr.data-name]="folder">
            <div class="dz-popup-content__folder-actions">
              <button
                class="dz-button dz-button--ghost dz-button--md"
                [class.shadow]="!isFolderOpen(folder)"
                [title]="folder"
                (click)="toggleFolder(folder)"
              >
                @let folderIcon =
                  folder === presetFolderNames.DELETE
                    ? icons.FOLDER_DELETE
                    : isFolderOpen(folder)
                      ? icons.FOLDER_OPEN
                      : icons.FOLDER;
                <div class="dz-icon-box dz-icon-box--md">
                  <ng-container *ngTemplateOutlet="icon; context: { href: folderIcon }" />
                </div>

                <div class="ellipsis">{{ folder }}</div>
              </button>

              <dz-switch
                [class.hidden]="!(sites.length > 1) || folder === presetFolderNames.DELETE"
                [statusIcons]="{
                  activated: icons.RADIO_CHECKED,
                  unActivated: isFolderPartiallyActivated(folder)
                    ? icons.RADIO_PARTIAL
                    : icons.RADIO_UNCHECKED,
                }"
                [checked]="isFolderFullyActivated(folder)"
                (checkedChange)="onToggleFolderOfWebsites(folder)"
                size="md"
              />

              <button
                class="dz-button dz-button--free dz-button--ghost shadow shadow--hoverless"
                [class.hidden]="folder === presetFolderNames.DELETE"
                (click)="onOpenCreateLinkPopup(folder)"
              >
                <div class="dz-icon-box dz-icon-box--xs">
                  <ng-container *ngTemplateOutlet="icon; context: { href: icons.ADD_LINK }" />
                </div>
              </button>

              <button
                class="dz-button dz-button--free dz-button--ghost shadow shadow--hoverless"
                [class.hidden]="isFolderSystem(folder)"
                (click)="onOpenDeleteFolderPopup(folder)"
              >
                <div class="dz-icon-box dz-icon-box--xs">
                  <ng-container *ngTemplateOutlet="icon; context: { href: icons.DELETE }" />
                </div>
              </button>

              <span class="no-wrap">
                <small
                  class="hint hint--xs hint--activated round"
                  [class.hidden]="folder === presetFolderNames.DELETE"
                  >({{ categoryActiveCounts()[folder] }})</small
                >
                <small class="hint hint--xs"> ({{ sites.length }})</small>
              </span>
            </div>

            <ul class="dz-tree" [class.dz-tree--open]="isFolderOpen(folder)">
              @for (site of sites; track site.url) {
                <li
                  class="dz-tree__item full"
                  (mouseenter)="itemActions.classList.remove('hidden')"
                  (mouseleave)="itemActions.classList.add('hidden')"
                >
                  <div class="dz-tree__item-group">
                    <input
                      class="dz-input dz-input--checkbox"
                      [checked]="site.isActivated"
                      (change)="onToggleBlockedWebsite(site)"
                      type="checkbox"
                    />
                    <div class="dz-icon-box dz-icon-box--sm" #favicon>
                      <img
                        #favicon
                        [alt]="site.url"
                        [src]="site.imageUrl || getFavicon(site.url)"
                        (load)="tempIcon.classList.add('hidden')"
                        (error)="favicon.classList.add('hidden')"
                      />
                    </div>
                    <div class="dz-icon-box dz-icon-box--sm" #tempIcon>
                      <ng-container *ngTemplateOutlet="icon; context: { href: icons.GLOBE }" />
                    </div>
                    <span class="ellipsis copy" [dzCopy]="site.url" [title]="site.url">
                      {{ cleanProtocolHelper(site.url) }}
                    </span>
                  </div>

                  <div class="dz-tree__item-group dz-tree__item-group--actions hidden" #itemActions>
                    @if (site.permissionLvl !== permissionLvls.READ_ONLY) {
                      <button
                        class="dz-button dz-button--free dz-button--ghost shadow shadow--hoverless"
                        [title]="'Move to other folder'"
                      >
                        <div class="dz-icon-box dz-icon-box--xs">
                          <ng-container
                            *ngTemplateOutlet="icon; context: { href: icons.MOVE_DOWN }"
                          />
                        </div>
                      </button>
                      <button
                        class="dz-button dz-button--free dz-button--ghost shadow shadow--hoverless"
                        [title]="'Delete it'"
                        (click)="onOpenDeleteLinkPopup(site.type, site.url)"
                      >
                        <div class="dz-icon-box dz-icon-box--xs">
                          <ng-container *ngTemplateOutlet="icon; context: { href: icons.DELETE }" />
                        </div>
                      </button>
                    }
                  </div>
                </li>
              }
            </ul>
          </li>
        }
      </ul>
    </main>
  </div>
</ng-template>

<!--New Folder Popup-->
<ng-template
  [dzPopup]="isCreateFolderPopupShown()"
  [hasBackdrop]="false"
  (closed)="onCloseCreateNewFolderPopup()"
>
  <div class="dz-box shadow shadow--hoverless dz-popup-content dz-popup-content--new-folder">
    <header class="dz-popup-content__header">
      <h1 class="hint hint--xs">{{ uiText.WEBSITE_LIBRARY.NEW_FOLDER_TITLE }}</h1>

      <div class="dz-popup-content__header-actions">
        <button class="dz-button round dz-button--sm" (click)="onCloseCreateNewFolderPopup()">
          <ng-container *ngTemplateOutlet="icon; context: { href: icons.CLOSE }" />
        </button>
      </div>
    </header>

    <main class="dz-popup-content__main">
      <input
        class="dz-input dz-input--free font-lg"
        [(ngModel)]="newFolderName"
        type="text"
        placeholder="... ✏️"
      />

      <small class="hint">{{ uiText.WEBSITE_LIBRARY.YOU_CAN_ADD_EMOJI }}</small>
      <ul class="dz-list dz-list--horizontal">
        @for (emoji of emojiCollection; track emoji) {
          <li>
            <button
              class="dz-button dz-button--sm dz-button--ghost shadow shadow--hoverless font-xl"
              (click)="newFolderName.set(newFolderName() + `${emoji}`)"
            >
              {{ emoji }}
            </button>
          </li>
        }
      </ul>
    </main>

    <footer class="dz-popup-content__footer">
      @if (folders().includes(newFolderName())) {
        <div class="hint hint--sm hint--warn fit">
          {{ newFolderName() }} {{ uiText.WEBSITE_LIBRARY.ALREADY_EXISTS }}
        </div>
      } @else {
        <button
          class="dz-button dz-button--activated shadow shadow--hoverless dz-button--sm"
          [disabled]="folders().includes(newFolderName()) || !newFolderName()"
          (click)="onAddNewFolder()"
        >
          <ng-container *ngTemplateOutlet="icon; context: { href: icons.SAVE }"></ng-container>
        </button>
      }
    </footer>
  </div>
</ng-template>

<!-- Delete Folder Popup-->
<ng-template
  [dzPopup]="isDeleteFolderPopupShown()"
  [hasBackdrop]="false"
  (closed)="onCloseDeleteFolderPopup()"
>
  <div class="dz-box shadow shadow--hoverless dz-popup-content dz-popup-content--new-folder">
    <header class="dz-popup-content__header">
      <h1 class="hint hint--xs">
        {{ uiText.WEBSITE_LIBRARY.DELETE_FOLDER_TITLE }} {{ deleteFolderName() }}
      </h1>

      <div class="dz-popup-content__header-actions">
        <button class="dz-button round dz-button--sm" (click)="onCloseDeleteFolderPopup()">
          <ng-container *ngTemplateOutlet="icon; context: { href: icons.CLOSE }" />
        </button>
      </div>
    </header>

    <main class="dz-popup-content__main">
      <div class="dz-banner dz-banner--warn">
        <div class="dz-banner__icon">
          <ng-container *ngTemplateOutlet="icon; context: { href: icons.WARNING }" />
        </div>

        <div class="dz-banner__message">{{ uiText.WEBSITE_LIBRARY.CONFIRM_DELETE }}</div>
      </div>
    </main>

    <footer class="dz-popup-content__footer">
      <button
        class="dz-button dz-button--free dz-button--ghost shadow shadow--hoverless"
        (click)="onCloseDeleteFolderPopup()"
      >
        <div class="dz-icon-box dz-icon-box--xs">
          <ng-container *ngTemplateOutlet="icon; context: { href: icons.CANCEL }" />
        </div>
      </button>

      <button
        class="dz-button dz-button--free dz-button--ghost shadow shadow--hoverless"
        (click)="onDeleteFolder()"
      >
        <div class="dz-icon-box dz-icon-box--xs">
          <ng-container *ngTemplateOutlet="icon; context: { href: icons.DELETE }" />
        </div>
      </button>
    </footer>
  </div>
</ng-template>

<!-- Create Link Popup-->
<ng-template
  [dzPopup]="isCreateLinkPopupShown()"
  [hasBackdrop]="false"
  (closed)="onCloseCreateLinkPopup()"
>
  <div class="dz-box shadow shadow--hoverless dz-popup-content dz-popup-content--new-folder">
    <header class="dz-popup-content__header">
      <h1 class="hint hint--xs">
        {{ uiText.WEBSITE_LIBRARY.CREATE_LINK_TITLE }} {{ newLink()?.url ?? '' }}
      </h1>

      <div class="dz-popup-content__header-actions">
        <button class="dz-button round dz-button--sm" (click)="onCloseCreateLinkPopup()">
          <ng-container *ngTemplateOutlet="icon; context: { href: icons.CLOSE }" />
        </button>
      </div>
    </header>

    <main class="dz-popup-content__main">
      <input
        class="dz-input dz-input--free font-lg"
        #linkInput
        [value]="newLink()?.url"
        (input)="onInputNewLinkUrl(linkInput.value)"
        type="text"
        placeholder="... ✏️"
      />
    </main>

    <footer class="dz-popup-content__footer">
      @if (newLink()?.isDuplicate) {
        <div class="hint hint--sm hint--warn fit">
          {{ newLink()?.url }} {{ uiText.WEBSITE_LIBRARY.ALREADY_EXISTS }}
        </div>
      } @else {
        <button
          class="dz-button dz-button--free dz-button--ghost shadow shadow--hoverless"
          [disabled]="newLink()?.isDuplicate || !newLink()?.url"
          (click)="onAddNewLink()"
        >
          <div class="dz-icon-box dz-icon-box--xs">
            <ng-container *ngTemplateOutlet="icon; context: { href: icons.SAVE }" />
          </div>
        </button>
      }
    </footer>
  </div>
</ng-template>

<!-- Delete Link Popup-->
<ng-template
  [dzPopup]="isDeleteLinkPopupShown()"
  [hasBackdrop]="false"
  (closed)="onCloseDeleteLinkPopup()"
>
  <div class="dz-box shadow shadow--hoverless dz-popup-content dz-popup-content--new-folder">
    <header class="dz-popup-content__header">
      <h1 class="hint hint--xs">
        {{ uiText.WEBSITE_LIBRARY.DELETE_LINK_TITLE }} {{ deleteLink()?.url }}
      </h1>

      <div class="dz-popup-content__header-actions">
        <button class="dz-button round dz-button--sm" (click)="onCloseDeleteLinkPopup()">
          <ng-container *ngTemplateOutlet="icon; context: { href: icons.CLOSE }" />
        </button>
      </div>
    </header>

    <main class="dz-popup-content__main">
      <div class="dz-banner dz-banner--warn">
        <div class="dz-banner__icon">
          <ng-container *ngTemplateOutlet="icon; context: { href: icons.WARNING }" />
        </div>

        <div class="dz-banner__message">{{ uiText.WEBSITE_LIBRARY.CONFIRM_DELETE }}</div>
      </div>
    </main>

    <footer class="dz-popup-content__footer">
      <button
        class="dz-button dz-button--free dz-button--ghost shadow shadow--hoverless"
        (click)="onCloseDeleteLinkPopup()"
      >
        <div class="dz-icon-box dz-icon-box--xs">
          <ng-container *ngTemplateOutlet="icon; context: { href: icons.CANCEL }" />
        </div>
      </button>

      <button
        class="dz-button dz-button--free dz-button--ghost shadow shadow--hoverless"
        (click)="onDeleteLink()"
      >
        <div class="dz-icon-box dz-icon-box--xs">
          <ng-container *ngTemplateOutlet="icon; context: { href: icons.DELETE }" />
        </div>
      </button>
    </footer>
  </div>
</ng-template>
