<header class="dz-header" [class.dark-theme]="theme() === colorSchemes.DARK">
  <nav class="dz-header__navigation">
    <button
      [title]="uiText.HEADER.FOCUS_MENU_TITLE"
      (click)="setViewType(viewTypes.FOCUS)"
      class="dz-button dz-button--md"
      [class.dz-button--activated]="currentRoute() === viewTypes.FOCUS"
    >
      <svg class="dz-icon" aria-hidden="true" focusable="false">
        <use [attr.href]="icons.PERSON_ZEN"></use>
      </svg>
    </button>

    <button
      [title]="
        currentRoute() === viewTypes.EDIT_PERIOD
          ? uiText.HEADER.EDIT_PERIOD_TITLE
          : uiText.HEADER.ADD_NEW_PERIOD_TITLE
      "
      (click)="setViewType(viewTypes.ADD_PERIOD)"
      class="dz-button dz-button--md"
      [class.dz-button--activated]="
        [viewTypes.ADD_PERIOD, viewTypes.EDIT_PERIOD].includes(currentRoute())
      "
    >
      <svg class="dz-icon" aria-hidden="true" focusable="false">
        <use [attr.href]="icons.ASSIGMENT"></use>
      </svg>
    </button>

    <button
      [title]="uiText.HEADER.POMODORO_MENU_TITLE"
      (click)="setViewType(viewTypes.POMODORO)"
      class="dz-button dz-button--md"
      [class.dz-button--activated]="currentRoute() === viewTypes.POMODORO"
    >
      <svg class="dz-icon" aria-hidden="true" focusable="false">
        <use [attr.href]="icons.TOMATO"></use>
      </svg>
    </button>

    <button
      [title]="
        isGoogleAuthenticated()
          ? uiText.HEADER.LOGOUT_GOOGLE_TITLE
          : uiText.HEADER.LOGIN_GOOGLE_TITLE
      "
      (click)="isGoogleAuthenticated() ? logoutFromGoogle() : loginWithGoogle()"
      [disabled]="isGoogleAuthPending()"
      class="dz-button dz-button--md"
    >
      @if (isGoogleAuthPending()) {
        <dz-loader />
      } @else {
        <svg class="dz-icon" aria-hidden="true">
          <use [attr.href]="isGoogleAuthenticated() ? icons.LOGOUT : icons.GOOGLE_LOGO"></use>
        </svg>
      }
    </button>

    <a [href]="websites.PRIVACY_POLICY.url" target="_blank" rel="noopener noreferrer">
      <button [title]="uiText.FOOTER.PRIVACY_POLICY_ARIA_LABEL" class="dz-button dz-button--xs">
        <svg class="dz-icon" aria-hidden="true" focusable="false">
          <use [attr.href]="icons.PRIVACY_TIP"></use>
        </svg>
      </button>
    </a>

    @if (!isSidePanel()) {
      <button (click)="openSidePanel()" class="dz-button dz-button--xs" title="Open in side panel">
        <svg class="dz-icon" aria-hidden="true" focusable="false">
          <use [attr.href]="icons.VIEW_SIDEBAR"></use>
        </svg>
      </button>
    }
  </nav>

  <dz-theme-switcher />
</header>

<main class="dz-main" [class.dark-theme]="theme() === colorSchemes.DARK">
  @defer {
    @switch (currentRoute()) {
      @case (viewTypes.POMODORO) {
        <dz-pomodoro />
      }

      @case (viewTypes.EDIT_PERIOD) {
        <div class="dz-box">
          <dz-period-form />
        </div>
      }

      @case (viewTypes.ADD_PERIOD) {
        <div class="dz-box">
          <dz-period-form />
        </div>
      }

      @default {
        <dz-focus />
      }
    }
  }
</main>

<dz-toast-container />
