:host {
  width: var(--app-width);
  height: var(--app-height);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  &.dz-app {
    &--side-panel {
      width: 100%;
      height: 100%;
      max-width: var(--app-max-width);
      margin: 0 0 0 auto;
      border-radius: var(--radius);
      overflow: hidden;

      .dz-main {
        height: calc(100vh - var(--header-height));
      }
    }
  }

  transition:
    background-color 0.3s,
    color 0.3s;

  .dz-header {
    width: 100%;
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 0 var(--spacing);
    background: color-mix(in srgb, var(--color-background), transparent 21%);
    backdrop-filter: blur(5px);

    transition:
      color 0.3s,
      background-color 0.3s;

    &__navigation {
      display: flex;
      gap: 0.5rem;
    }
  }

  .dz-main {
    width: 100%;
    height: calc(var(--app-height) - var(--header-height));
    overflow: auto;
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    background: color-mix(in srgb, var(--color-background), transparent 21%);
    backdrop-filter: blur(5px);

    transition:
      color 0.3s,
      background-color 0.3s;
  }
}
