:host {
  width: var(--app-width);
  height: var(--app-height);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  transition:
    background-color 0.3s,
    color 0.3s;

  .dz-header {
    width: 100%;
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 0 var(--spacing);
    background-color: var(--color-background);

    transition:
      color 0.3s,
      background-color 0.3s;

    &__navigation {
      display: flex;
      gap: 0.5rem;
    }
  }

  .dz-main {
    width: 100%;
    height: calc(var(--app-height) - var(--header-height) - var(--footer-height));
    overflow: auto;
    background-color: var(--color-background);
    color: var(--color-text);
    display: flex;
    flex-direction: column;

    transition:
      color 0.3s,
      background-color 0.3s;
  }

  .dz-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: var(--footer-height);
    padding: var(--spacing);
    font-size: 0.75rem;
    background-color: var(--color-background);
    color: var(--color-text);

    &__link {
      color: var(--color-text);
      text-decoration: none;
      opacity: 0.6;
      transition: opacity 0.2s;

      &:hover,
      &:focus-visible {
        opacity: 1;
        text-decoration: underline;
      }
    }

    &__sync {
      font-size: 0.8em;
    }
  }
}
