<div class="dz-actions">
  <button
    (click)="addCurrentTabToPeriod()"
    class="dz-button dz-button--sm shadow"
    [class.hidden]="!isHttpUrl(activeTab()?.url)"
  >
    @if (isSvgIcon(activeTab()?.favIconUrl)) {
      <svg class="dz-icon dz-icon--shadow" aria-hidden="true" focusable="false">
        <use width="20" height="20" [attr.href]="activeTab()?.favIconUrl" />
      </svg>

      <span>+</span>
    } @else if (isImageIcon(activeTab()?.favIconUrl)) {
      <img
        class="dz-icon dz-icon--shadow"
        [src]="activeTab()?.favIconUrl"
        width="20"
        height="20"
        alt=""
      />

      <span>+</span>
    } @else if (activeTab()?.title) {
      {{ activeTab()?.title }}
    }
  </button>

  <button
    (click)="toggleFocus()"
    class="dz-button dz-button--xl dz-button--round shadow"
    [class.dz-button--activated]="currentPeriod()?.isFocused"
  >
    <svg
      class="dz-icon"
      [class.pulse]="currentPeriod()?.isFocused"
      aria-hidden="true"
      focusable="false"
    >
      <use href="#icon-person-zen"></use>
    </svg>
  </button>

  @if (currentPeriod()?.isFocused) {
    <span class="focus-timer">{{ focusElapsedTimeFormatted() }}</span>
  }
</div>

<div class="dz-group">
  @if (periods()?.length) {
    <ul class="dz-list">
      @for (period of periods(); track period.id) {
        <li>
          <dz-period
            [period]="period"
            [totalPeriodsCount]="periods()?.length ?? 0"
            (toggleBlockedWebsite)="onToggleBlockedWebsite($event)"
          />
        </li>
      }
    </ul>
  } @else {
    <dz-loader />
  }
</div>
