<div class="dz-actions">
  <button
    (click)="toggleFocus()"
    class="dz-button dz-button--xxl dz-button--round shadow"
    [class.shadow--activated]="isFocused()"
  >
    <svg class="dz-icon" [class.pulse]="isFocused()" aria-hidden="true" focusable="false">
      <use href="#icon-person-zen"></use>
    </svg>
  </button>
</div>

<div class="dz-group">
  @if (periods()?.length) {
    <ul class="dz-list">
      @for(period of periods(); track period.id) {
        <li
          class="dz-box shadow"
          [class.shadow--activated]="period.id === currentPeriod()?.id"
        >
          <dz-period
            [period]="period"
            [blockedUrls]="blockedUrls()"
            (toggleBlockedWebsite)="onToggleBlockedWebsite($event)"
          />
        </li>
      }
    </ul>
  } @else {
    <dz-loader />
  }
</div>


