:host {
  display: grid;
  width: 100%;
  margin: 0 auto;
  max-width: var(--app-width);
  max-height: var(--app-height);
  padding: var(--spacing);
  gap: var(--spacing);
  grid-template-columns: 40% 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    'settings timer'
    'actions actions';

  .settings {
    grid-area: settings;
    display: flex;
    align-items: center;

    &__group {
      display: flex;
      flex-direction: column;
      gap: var(--spacing);
      align-items: center;
      justify-content: center;
    }
  }

  .timer {
    grid-area: timer;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xxl);
    align-items: center;
    justify-content: center;

    &__progress {
      width: 100%;
      aspect-ratio: 1/1;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 48px;
      font-weight: 600;
    }
  }

  .actions {
    grid-area: actions;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing);
  }
}
