<!-- Template fragment for icon -->
<ng-template #icon let-iconHref="href">
  <svg class="dz-icon" aria-hidden="true" focusable="false">
    <use [attr.href]="iconHref"></use>
  </svg>
</ng-template>

<aside class="settings">
  <form class="dz-form" [formGroup]="form">
    @let workStepConfig = form.controls.workStepConfig.value;
    @let shortBreakStepConfig = form.controls.shortBreakStepConfig.value;
    @let longBreakStepConfig = form.controls.longBreakStepConfig.value;

    <div class="dz-form__field">
      <dz-value-stepper
        [title]="uiText.POMODORO.TITLES.SESSION_LENGTH"
        [valueLabel]="uiText.POMODORO.UNITS.MINUTES"
        formControlName="workDurationMin"
        [min]="workStepConfig.min"
        [max]="workStepConfig.max"
        [step]="workStepConfig.step"
        [quickStep]="workStepConfig.quickStep"
      />
    </div>

    <div class="dz-form__field">
      <dz-value-stepper
        [title]="uiText.POMODORO.TITLES.BREAK_LENGTH"
        [valueLabel]="uiText.POMODORO.UNITS.MINUTES"
        formControlName="shortBreakMin"
        [min]="shortBreakStepConfig.min"
        [max]="shortBreakStepConfig.max"
        [step]="shortBreakStepConfig.step"
        [quickStep]="shortBreakStepConfig.quickStep"
      />
    </div>

    <div class="dz-form__field">
      <dz-value-stepper
        [title]="uiText.POMODORO.TITLES.LONG_BREAK_LENGTH"
        [valueLabel]="uiText.POMODORO.UNITS.MINUTES"
        formControlName="longBreakMin"
        [min]="longBreakStepConfig.min"
        [max]="longBreakStepConfig.max"
        [step]="longBreakStepConfig.step"
        [quickStep]="longBreakStepConfig.quickStep"
      />
    </div>
  </form>
</aside>

<main class="timer">
  @let progress = 0.95;
  <div
    dzProgressBorder
    [progress]="progress"
    [config]="{ thickness: 12 }"
    class="timer__progress shadow round square"
  >
    {{ timeLeftSec() }}
  </div>
</main>

<footer class="actions">
  @if (!isRunning()) {
    <button
      (click)="startSession()"
      class="dz-button dz-button--md dz-button--activated dz-button--full shadow"
    >
      {{ uiText.POMODORO.BUTTONS.START }}
    </button>
  } @else {
    <div class="dz-button-group" style="display: flex; gap: 8px; width: 100%">
      @if (isPaused()) {
        <button class="dz-button dz-button--md dz-button--activated dz-button--full shadow">
          {{ uiText.POMODORO.BUTTONS.RESUME }}
        </button>
      } @else {
        <button class="dz-button dz-button--md shadow dz-button--full">
          <ng-container *ngTemplateOutlet="icon; context: { href: icons.PAUSE }"></ng-container>

          {{ uiText.POMODORO.BUTTONS.PAUSE }}
        </button>
      }

      <button class="dz-button dz-button--md dz-button--warn dz-button--full shadow">
        <ng-container *ngTemplateOutlet="icon; context: { href: icons.RESET }"></ng-container>

        {{ uiText.POMODORO.BUTTONS.RESET }}
      </button>
    </div>
  }
</footer>
