:host {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .dz-button {
    &--focus {
      width: 130px;
      height: 130px;
    }
  }
}
