<ul class="dz-list">
  <li class="dz-list__item">
    <button (click)="toggleFocus()" class="dz-button dz-button--md dz-button--square shadow">
      <svg class="dz-icon" aria-hidden="true" focusable="false">
        <use href="#icon-facebook"></use>
      </svg>
    </button>
  </li>

  <li class="dz-list__item">
    <button (click)="toggleFocus()" class="dz-button dz-button--md dz-button--square shadow">
      <svg class="dz-icon" aria-hidden="true" focusable="false">
        <use href="#icon-x"></use>
      </svg>
    </button>
  </li>

  <li class="dz-list__item">
    <button (click)="toggleFocus()" class="dz-button dz-button--md dz-button--square shadow">
      <svg class="dz-icon" aria-hidden="true" focusable="false">
        <use href="#icon-instagram"></use>
      </svg>
    </button>
  </li>
</ul>

<button (click)="toggleFocus()" class="dz-button dz-button--xxl dz-button--round shadow" [class.dz-button--activated]="isFocused()">
  <svg class="dz-icon" [class.pulse]="isFocused()" aria-hidden="true" focusable="false">
    <use href="#icon-person-zen"></use>
  </svg>
</button>


