@use 'digital-zen-pack/style.css';
@use 'styles/variables';

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Сброс базовых элементов */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Наследование шрифтов */
html,
body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
}

/* Сброс стилей для списка */
ul,
ol {
  list-style: none;
}

/* Сброс стилей для медиа */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Сброс стилей для формы */
input,
button,
textarea,
select {
  font: inherit;
  margin: 0;
}

/* Устранение стилей кнопок */
button {
  background: none;
  border: none;
  cursor: pointer;
}

/* Устранение жирности у strong и b */
b,
strong {
  font-weight: inherit;
}

/* Устранение отступов у заголовков */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* Устранение подчеркивания у ссылок */
a {
  text-decoration: none;
  color: inherit;
}

/* Стили скролл-бара */
*::-webkit-scrollbar {
  display: none;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(120, 120, 120, 0.6);
  border-radius: 8px;
  border: 0 solid transparent;
}

*::-webkit-scrollbar-corner {
  background: transparent;
}

.dz-button {
  &--warn {
    background-color: var(--color-zen-warn);
    color: var(--color-on-warn);
  }

  &--pointerless {
    cursor: auto;
    pointer-events: auto;
  }

  &--full {
    width: 100%;
  }

  &--nm {
    height: var(--btn-size-nm);
    padding: var(--spacing-sm);
  }

  &--md {
    padding: var(--spacing-sm);
  }

  &:disabled {
    filter: grayscale(80%);
  }
}

.dz-button.dz-button--ghost.dz-button--activated {
  color: var(--color-text);
}

.dz-accordion {
  &__header {
    &--hoverless {
      pointer-events: none;
      cursor: default;
    }
  }

  .title {
    border: none;
  }
}

img {
  &.dz-icon {
    object-fit: contain;
  }
}

:root {
  --color-component-bg-light: #ebf2ff;
  --btn-size-nm: 40px;
}

.light {
  &--accent {
    box-shadow:
      0 0 10px var(--color-zen-accent),
      0 0 20px var(--color-zen-accent),
      inset 0 0 10px var(--color-zen-accent);
  }
}

.dz-accordion {
  background-color: transparent;
  border: 1px solid color-mix(in srgb, var(--color-component-bg-light), white 20%);
}

.shadow {
  border: 1px solid color-mix(in srgb, var(--color-component-bg-light), white 20%);
}
