<ng-template #icon let-iconHref="href">
  <svg [class]="'dz-icon'" aria-hidden="true" focusable="false">
    <use [attr.href]="iconHref"></use>
  </svg>
</ng-template>

<label
  class="dz-switch shadow"
  [class.dz-switch--checked]="checked()"
  [class.dz-switch--disabled]="disabled()"
  [class.shadow]="!disabled()"
  [style.--switch-h]="switchHeight()"
>
  <input
    class="dz-switch__input"
    [checked]="checked()"
    [disabled]="disabled()"
    (change)="onChange()"
    type="checkbox"
  />

  <div class="dz-switch__track" aria-hidden="true">
    @let href = checked() ? statusIcons().activated : statusIcons().unActivated;
    <span class="dz-switch__thumb shadow blurred round square">
      <ng-container *ngTemplateOutlet="icon; context: { href }"></ng-container>
    </span>
  </div>
</label>
