@charset "UTF-8";

:host {
  --sw-size-xs: 14px;
  --sw-size-sm: 18px;
  --sw-size-md: 22px;
  --sw-size-lg: 28px;
  --sw-size-xl: 36px;
  --sw-size-xxl: 48px;
  --sw-radius: 999px;

  .dz-switch {
    --padding: 2px;
    --switch-w: calc(var(--switch-h) * 1.8);
    --thumb-s: calc(var(--switch-h) - (var(--padding) * 2));
    --icon-s: calc(var(--switch-h) * 0.6);
    --transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);

    position: relative;
    display: block;
    width: var(--switch-w);
    height: var(--switch-h);
    cursor: pointer;
    user-select: none;
    border-radius: var(--sw-radius);

    &__input {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      border: 0;
      opacity: 0;

      &:focus-visible + .dz-switch__track {
        outline: 2px solid var(--color-zen-accent);
        outline-offset: 3px;
      }
    }

    &__track {
      position: absolute;
      inset: 0;
      border-radius: var(--sw-radius);
      transition: var(--transition);

      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__thumb {
      position: absolute;
      left: calc(var(--padding) * -1);
      width: calc(var(--thumb-s) + var(--padding) * 4);
      height: calc(var(--thumb-s) + var(--padding) * 4);
      transition: var(--transition);
      z-index: 2;
      transform: translateX(0) scaleX(1);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &--checked {
      .dz-switch__track {
        background-color: var(--color-zen-success);
        opacity: 1;
      }
      .dz-switch__thumb {
        color: var(--color-on-accent);
        $offset: 'calc(var(--switch-w) - var(--thumb-s) - (var(--padding)  * 4))';
        transform: translateX(#{$offset});
      }
    }

    &:active:not(&--disabled) {
      transform: scale(0.96);
    }

    &--disabled {
      cursor: not-allowed;
      opacity: 0.5;
      filter: grayscale(1);
    }
  }
}
